.reconnect-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: none;
    animation: reconnect-fade-in;
}

    .reconnect-overlay.reconnect-visible {
        display: block;
    }

    .reconnect-overlay::before {
        content: '';
        background-color: rgba(0,0,0,0.4);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        animation: reconnect-fadeInOpacity 0.5s ease-in-out;
        opacity: 1;
    }

    .reconnect-overlay p {
        margin: 0;
    }

    .reconnect-overlay button {
        border: 0;
        background-color: #6b9ed2;
        color: white;
        padding: 4px 24px;
        border-radius: 4px;
    }

        .reconnect-overlay button:hover {
            background-color: #3b6ea2;
        }

        .reconnect-overlay button:active {
            background-color: #6b9ed2;
        }

        .reconnect-dialog {
            position: relative;
            background-color: white;
            width: 20rem;
            margin: 20vh auto;
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 3px 6px 2px rgba(0,0,0,0.3);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            opacity: 0;
            animation: reconnect-slideUp 1.5s cubic-bezier(.05,.89,.25,1.02) 0.3s, reconnect-fadeInOpacity 0.5s ease-out 0.3s;
            animation-fill-mode: forwards;
            z-index: 10001;
        }

.lds-ripple {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ripple div {
        position: absolute;
        border: 3px solid #0087ff;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .lds-ripple div:nth-child(2) {
            animation-delay: -0.5s;
        }

@keyframes lds-ripple {
    0% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

@keyframes reconnect-fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes reconnect-slideUp {
    0% {
        transform: translateY(30px) scale(0.95);
    }

    100% {
        transform: translateY(0);
    }
}
