.modal {
    animation: reconnect-fadeInOpacity 0.3s ease-in;
    border-color: rgba(255, 255, 255, 0.15);
    border-width: 1px;
    border-radius: 0.5rem;
}

.reconnect-overlay.reconnect-visible .modal-dialog {
    animation: reconnect-slideDown .5s ease-in-out forwards;
}

.lds-ripple {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ripple div {
        position: absolute;
        border: 3px solid #0087ff;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .lds-ripple div:nth-child(2) {
            animation-delay: -0.5s;
        }

@keyframes lds-ripple {
    0% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

@keyframes reconnect-fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes reconnect-slideDown {
    0% {
        transform: translateY(-70px);
    }

    100% {
        transform: translateY(70px);
    }
}
