@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="@(() => count++)">Click @count</button>

@if (ready)
{
    <p>
        <span>Unrelated</span>
        <input @bind="someText1" />
        <input @bind="someText2" @bind:event="oninput" />
        [@someText1]
        [@someText2]
    </p>
}

@code {
    int count;
    bool ready;
    string someText1 = "";
    string someText2 = "";

    protected override async Task OnInitializedAsync()
    {
        //await Task.Delay(500);
        ready = true;
    }
}
